################ Silabs files to ignore #####################
# Ignore the Build Directory entirely
GNU*
# Other SSv5 files to ignore
.trash
.uceditor
.projectlinkstore
*.bak

################ CI build outputs to ignore #################
build/
artifact/
upload/
/*.Makefile
/*.mak
################ Trident IoT build ##########################
# The SDK is downloaded by tools/fetch_trident_sdk.sh
trident/tridentiot-sdk/
trident/build/
# Throwaway signing keys the SDK generates on the first build
trident/keys/
